ion-card {
    --background: #fff;
    --color: #000;
}

ion-card-title {
    --color: #000;
}

ion-card-subtitle {
    --color: #c4c4c4;
}

.informacoes-fonte {
    font-size: 1em;
    font-weight: 800;
}
