ion-card {
    --background: #fff;
    --color: #000;
}

ion-card-title {
    --color: #000;
}

ion-card-subtitle {
    --color: #c4c4c4;
}

.informacoes-fonte {
    font-size: 1em;
    font-weight: 800;
}

.ocultar-texto {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.descricao__ler-mais {
    color: #2FA0D5;
    font-weight: 500;
    text-decoration: underline;
}
