<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <div class="loading-container" *ngIf="exibirLoading">
    <span class="loader"></span>
  </div>

  <nav class="menu">
    <ul class="menu__itens">
      <li class="itens"  routerLink="/home">
        <ion-icon class="itens__icone" name="home-outline"></ion-icon>
      </li>
      <li class="itens" routerLink="/mapa-qualidade-ar">
        <ion-icon class="itens__icone" name="map-outline"></ion-icon>
      </li>
      <li class="itens">
        <ion-icon class="itens__icone" name="information-circle-outline"></ion-icon>
      </li>
    </ul>
  </nav>

</ion-app>