.qualidade-ar__cabecalho {
  .cabecalho-titulo {
    font-size: 2em;
    font-weight: 800;
  }

  .cabecalho-subtitulo {
    margin-top: 0.5em;
    font-size: 0.9em;
    color: #888888;
    line-height: 1.6em;
  }
}

.container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-bottom: 4em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #fff;
  color: #000;
}

.cabecalho__informacoes-fonte {
  width: 100%;
  min-height: 5em;
  margin-top: 2em;
  padding: 1em;
  border-radius: 1em;
  color: #fff;
  background-color: #c1c1c1;
}

.informacoes-instituto {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.informacoes-fonte__subtitulo-instituto {
  text-decoration: underline;
}

.informacoes-fonte__subtitulo-instituto,
.informacoes-instituto-link {
  font-size: 1em;
}

.informacoes-fonte__titulo {
  margin-top: 0.1em;
  line-height: 1em;
}

.informacoes__situacao-qualidade-ar-cidade {
  margin-top: 0.5em;
  font-size: 1em;
}

.qualidade-ar__container {
  width: 100%;
  min-height: 16em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;

  ion-button {
    height: 3.5em;
    --background: #ffffff;
    --color: #000;
    --border-radius: 50%;
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    position: absolute;
    right: 1em;
    top: 0;
  }
}

.data-atualizacao__content {
  display: flex;
  flex-direction: column;
  line-height: 1.4em;
  font-weight: 500;

  .data-atualizacao {
    min-width: 100%;
    display: inline-block;
  }
}

.qualidade-ar__indice-label,
.qualidade-ar__data-atualizacao-label {
  display: inline-block;
  text-align: center;
  color: #c1c1c1;
}

.qualidade-ar__indice {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
}

.qualidade-ar__data-atualizacao {
  margin-top: 0.3em;
  font-weight: 500;
}

.detalhe__qualidade-ar {
  margin-top: 1em;
}

.detalhe__titulo {
  font-size: 1.4em;
  font-weight: bold;
  padding-left: 1em;
}

.detalhe__container {
  width: auto;
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0 1em;
  overflow-x: scroll;
}

.detalhe__card {
  min-width: 10em;
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 1em;
  border-radius: 1em;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.card__titulo {
  font-size: 1.5em;
  font-weight: bold;
}

.card__subtitulo {
  font-size: 0.9em;
  color: #c1c1c1;
}

.alerta {
  background: #e5e5e5;
}
